.navbar-inverse {
    background-color: #0A2E3A;
    border-color: #0A2E3A;
    color: #79B837;
}

.navbar-inverse .navbar-brand {
    color: #79B837;
}

.logoHeader {
    float: left;
    height: 50px;
    padding: 5px 25px;
}

.titleHeader {
    float: left;
    height: 50px;
    padding: 15px 25px;
}

.breadcrumb {
    float: left;
    /*height: 50px;*/
    /*padding: 15px 25px;*/
    /*padding: 0px 15px;*/
    margin-left: 25px;
    margin-top: 5px;
    margin-bottom: 0px;
    list-style: none;
    background-color: #0A2E3A !important;
    border-color: #79B837 !important;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    color: #79B837 !important;
}

.breadcrumb .active {
    color: #e7e7e7 !important;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #79B837;
}

.top-nav>li>a:hover, .top-nav>li>a:focus, .top-nav>.open>a, .top-nav>.open>a:hover, .top-nav>.open>a:focus {
    color: #fff;
    background-color: #0A2E3A;
}

.side-nav {
    background-color: #F1F1F1;
    color: #2B2B2B;
    border-top: 1px solid #C2C2C2;
    border-right: 1px solid #C2C2C2;
}

.navbar-inverse .navbar-nav>li>a {
    color: #2B2B2B;
}

.side-nav li a:hover, .side-nav li a:focus {
    outline: none;
    background-color: #333333 !important;
}

.side-nav>li>ul>li>a {
    color: #777;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

body {
    background-color: #FFFFFF;
}