.fecha {
   cursor: pointer !important;
}

.numero, .numeroEntero, .numeroDecimal {
	text-align:right !important;
}

.vamiddle {
	vertical-align: middle !important;
}

.obligatorio {
	color:#FF0000;
  /*color: #a94442;*/
	padding-right: 4px;
	/*font-size: 10px;*/
}

.menu_padre {
    /*background-color: #BBBBBB;*/
    /*background-color: #0A2E3A;*/
    background-color: #0F403E;
    color: #79B837;
}

.menu_padre:hover {
    background-color: #0A2E3A !important;
    /*background-color: #555555 !important;
    color: #DDDDDD;*/
    /*background-color: #0A2E3A;*/
    color: #ffffff;
}

/*
.form-control-feedback1 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  pointer-events: none;
}

.form-horizontal .has-feedback .form-control-feedback1 {
  right: 22px;
}

.has-error .form-control-feedback1 {
  color: #a94442;
}

.has-feedback .form-control {
  padding-right: 35px !important;
}
*/


input {
background-image:url(../images/Fnd_2.png);
border: 1px solid #666666;
text-align: left;
height:14pt;
font-size: 9pt;
font-family: Arial, serif;
font-weight: normal;
}
