.fecha {
   cursor: pointer !important;
}

.numero, .numeroEntero, .numeroDecimal {
	text-align:right !important;
}

.vamiddle {
	vertical-align: middle !important;
}

.obligatorio {
	color:#FF0000;
  /*color: #a94442;*/
	padding-right: 4px;
	/*font-size: 10px;*/
}

.menu_padre {
    /*background-color: #BBBBBB;*/
    /*background-color: #0A2E3A;*/
    background-color: #0F403E;
    color: #79B837;
}

.menu_padre:hover {
    background-color: #0A2E3A !important;
    /*background-color: #555555 !important;
    color: #DDDDDD;*/
    /*background-color: #0A2E3A;*/
    color: #ffffff;
}

.grupo1 {
    background-color: #FF5A5A !important;
    /*font-size: 0.85em;*/
}

.grupo2 {
    background-color: #92D050 !important;
}

.grupo3 {
    background-color: #FFFF7A !important;
}

.grupo4 {
    background-color: #DDD9C3 !important;
}

.num_verde {
    color: green;
    /*text-align:right;*/
}

.num_rojo {
    color: red;
}

input {
    background-image:url(../images/Fnd_2.png);
    border: 1px solid #666666;
    text-align: left;
    height:14pt;
    font-size: 9pt;
    font-family: Arial, serif;
    font-weight: normal;
}

